/* Global styles */
body {
  font-family: Arial, sans-serif;
}

/* Header container styles */
.header {
  background-image: url("https://www.maersk.com/~/media_sc9/maersk/homepage/images/atwtz_1300x840_1.jpg?h=840&w=1300&hash=E697A3F52A48EF199684BDD4DE3435F5");
  /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 15px;
}

.header-details {
  height: 600px;
  padding-top: 180px;
}

/* Title styles */
.header-title {
  font-size: 45px;
}

/* Description styles */
.header-description {
  font-size: 20px;
}

/* Card styles */
.card {
  /* background-color: rgba(255, 255, 255, 0.1); */
  border: none;
}

.card-header {
  background-color: transparent;
  border: none;
  justify-content: space-between;
}

/* Tracking form styles */
.tracking-form {
  display: flex;
  flex-direction: column;
}

.icon-location {
  font-size: 24px;
}

.divider {
  background-color: white;
  margin: 10px 0;
}

/* Track button styles */
.track-button {
  background-color: #043358;
  color: white;
  border: 1px;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registerUser-button {
  background-color: #043358;
  color: white;
  border: 1px;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.track-button:hover {
  background-color: #043358;
  opacity: 0.9;
  transition: 0.2s ease-in-out;
}

.track-button:hover::after {
  background-color: #043358;
  opacity: 0.9;
  transition: 0.2s ease-in;
}

/*For tracking modules in Tracking form*/
.methods {
  cursor: pointer;
  padding-top: 13px;
}

.methods:hover {
  border-bottom: 2px solid rgb(10, 107, 172);
  margin-bottom: 12px;
  box-shadow: 3px;
}

/* style list in footer */
li {
  padding: 5px;
}

/* social links in footer */
.socialLinks {
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.socialLinks>a {
  text-decoration: none;
  color: black;
}

/*  Input field of signup page*/
.inputDiv>i {
  padding-top: 20px;
  font-size: 20px;
}

/* manage logistics solutions cards on homepage */
.logistic-card {
  border: 1px solid rgb(126, 121, 121, 0.3);
  height: 400px;
}

.logistic-card:hover {
  box-shadow: 0 0 30px rgba(126, 121, 121, 0.3);
  transition: box-shadow 0.3s ease;
}

/* footer links  */
.footer-Links>a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  padding: 8px 0px;

}

.footer-Links>a:hover {
  text-decoration: underline;
}

/* slider images in IndustrySectorCorousel */
.slider-images {
  width: 200px;
  height: 200px;
}

.company-slider-images {
  width: 150px;
  height: 150px;
}

.image-div {
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 20px;
  /* transition: 1s linear; */
}

.image-div:hover {
  border: 1px solid rgb(126, 121, 121, 0.3);
  border-radius: 7px;
}

/* slider images in Company Corousel */
.companySlider-div {
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 20px;
}

/* navbar items */
.nav-items {
  padding-right: 40px;
}

.nav-items>a:hover {
  text-decoration: underline;
}

.nav-items2 {
  padding-right: 40px;
  justify-content: center;
  align-items: center;
}

/* button styling on Prices page  */
.start {
  background-color: rgb(43, 173, 173);
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
  margin: 40px 10px;
}

.start:hover {
  background-color: rgb(43, 173, 173, 0.8);
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
}

.dismiss {
  /* style={{backgroundColor:"white",border:"0px",color:"black"}} */
  background-color: white;
  color: black;
  border: 0px;
  padding: 5px 10px;
  transition: 2s ease-in-out;
}

.dismiss:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.new-to-logistics {
  border: 1px solid rgb(126, 121, 121, 0.3);
  border-radius: 5px;
  margin: 30px;
}

.logistic-items {
  align-items: center;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(126, 121, 121, 0.3);
}

.logistic-items:hover {
  border: 1px solid rgb(126, 121, 121, 0.9);
}

/* -----sidebar items in Prices------ */
.sidebar-item {
  padding-left: 12px;
  margin-left: 25px;
  padding-bottom: 10px;
}

.sidebar-item-heading {
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

/* --------corousel for overview page --------- */

.card-img-top {
  height: 200px;
}

.carousel-container {
  margin-right: 20px;
}

.cards-services {
  border: 1px solid rgb(126, 121, 121, 0.4);
}

.cards-services:hover {
  border: 1px solid rgb(126, 121, 121, 0.9);

}

.cards-services>.card-body>p {
  font-size: 15px;
  color: rgb(83, 81, 81, 0.9);
}

.transport-services-cards {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.transport-services-cards>h6 {
  margin-top: 20px;
  margin-left: 10px;
}

.view-icons {
  border: 1px solid rgb(126, 121, 121);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: auto;
}

.search-icon {
  border: 1px solid rgb(126, 121, 121);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: auto;
}

/* ----------FavAndLearnmore----------------- */
.favorite-and-learnmore {
  margin-right: 8px;
  padding: 4px 10px;
  transition: border 0.01s ease-out;
  cursor: pointer;
}

.favorite-and-learnmore:hover {
  border: 1px solid rgb(126, 121, 121, 0.7);
  padding: 4px 10px;
  margin-right: 11px;
  border-radius: 5px;
  cursor: pointer;
}

.card-button {
  background-color: #043358;
  border: 0px;
}

/* ------------Transportation Services ------------ */
.main {
  /* background-color: rgb(216, 213, 213); */
  margin-right: 20px;
  padding: 5px 15px;
}

.transport-service-options {
  display: flex;
  padding-right: 20px;

}

#services-options {
  margin-right: 20px;
  color: rgb(126, 121, 121);
  cursor: pointer;
  font-size: 17px;
}

#services-options:hover {
  margin-right: 20px;
  color: rgb(51, 48, 48);
  cursor: pointer;
  font-weight: 17px bold;
  transition: 0.1ms ease-in;
  box-shadow: 3px;
}

#services-options.active {
  border-bottom: 2px solid rgb(126, 121, 121);

}

.card-services-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down-btn {
  border: 1px solid rgb(126, 121, 121);
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
}

.scroll-down-btn:hover {
  background-color: rgb(226, 222, 222, 0.7);
  transition: 0.2s ease-in-out;
}

.check {
  /* border: 1px solid brown; */
  padding: 10px;
}